#!/bin/zsh

API_URL="https://api.telegram.org/bot8699801155:AAECl_LhfFLOzfR8xXy6Mldn01gOaTKKU9Q/sendMessage"
CHAT_ID="-5269300367"

curl -s -X POST "$API_URL" \
  -d "chat_id=$CHAT_ID" \
  -d "text=CatGirl"
